<section class="Banner">
    <div class="Banner-box">
      <div class="intro-text">
        
     
      </div>
      <!--<img src="assets/images/Banner4.png" alt="Banner4" width="1500" height="400"> -->
      
      <div class="image">

        <!--<img src="assets/images/image10.jpg" alt="" />
                <img src="https://images.unsplash.com/photo-1513530534585-c7b1394c6d51?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80" alt="Banner4" width="1510" height="400">
      <img src="https://images.unsplash.com/photo-1542435503-956c469947f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80" alt="" width="1510" height="600"> 
      <img src="https://images.unsplash.com/photo-1561746254-c5c290762792?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt=" " width="1510" height="500"> 
        
        
        -->



      <img src="https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="" width="1510" height="500">
        <h2>If you’re brand new to the world of coding and web development,
        it makes sense to start by teaching yourself using all the free
        learn-to-code resources online!!!</h2>
  
      </div>
      <!--<img src="https://images.unsplash.com/photo-1513530534585-c7b1394c6d51?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80" alt="Banner4" width="1510" height="400">
      <img src="assets/images/image10.jpg" alt="" width="1510" height="400"> -->
      <!--<img src="assets/images/barcode.gif" alt="" width="510" height="400"> -->
      <!--<img src="" alt="" width="1510" height="400"> -->
      <!--<div class="bottom-left">Amishatutorial is an online learning platform that offers 
        free coding classes in programming languages including Angular, Python, Java, 
        JavaScript, Typescript, SQL, C++, HTML, and CSS. 
        Start with these free programming classes.</div>  -->
      <!--<div class="bottom-left"><p>If you’re brand new to the world of coding and web development, it makes sense to start by teaching yourself using all the free
         learn-to-code resources online.</p> 
      </div>-->
      <!--<div class="top-left"><h1>Learn Code And Explore!!!</h1></div> -->
      
      
     
      <!DOCTYPE html>
     




    </div>
   
    
  </section>
                                      